body {
    background: hsl(240, 100%, 93%);
    color: hsl(240, 80%, 10%);
    /* font-family: "Crimson Pro", serif; */
    font-family: Helvetica, sans-serif;
}

header {
    max-width: 640px;
    margin: 0 auto;
    padding: 16px 0;
}

main {
    max-width: 640px;
    margin: 0 auto;
    padding: 50px 24px;
}

h1, h2, h3, h4 {
    color: hsl(240, 35%, 55%);
    font-family: Helvetica, sans-serif;
}

p {
    font-size: 18px;
    line-height: 1.4;
}

ul {
    line-height: 1.4;
}

li {
    font-size: 18px;
}

.language-python {
    border-radius: 4px;
    padding: 0 24px !important;
}